<template>
  <div class="container">
    <h2>Validación de Imagen</h2>
    <br />
    <br />
    <b-alert
      :show="dismissCountDown"
      dismissible
      :variant="mensaje.color"
      @dismissed="dismissCountDown=0"
      @dismiss-count-down="countDownChanged"
    >{{mensaje.texto}}</b-alert>

    <UploadImage @imageTObase64="formData" @reset="disableFormData" />

    <br />
    <br />

    <FormData v-if="uploadImage" @data="onSubmit" />
  </div>
</template>

<script>
import UploadImage from "@/components/UploadImage";
import FormData from "@/components/FormData";

export default {
  data() {
    return {
      mensaje: { color: "success", texto: "" },
      dismissSecs: 5,
      dismissCountDown: 0,
      agregar: true,
      uploadImage: false,
    };
  },
  components: {
    UploadImage,
    FormData,
  },
  methods: {
    formData(file) {
      console.log("Aqui", file);
      this.uploadImage = !this.uploadImage;
    },
    disableFormData() {
      this.uploadImage = !this.uploadImage;
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    onSubmit(data) {
      alert(JSON.stringify(data));
    },
  },
};
</script>

<style >
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "imagen";
}
</style>
