<template>
  <div>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <div class="row">
        <div class="col-md-6">
          <b-form-group id="input-group-1" label="Ingrese los nombres" label-for="input-1">
            <b-form-input
              id="input-1"
              v-model="data.nombres"
              required
              placeholder="Ingrese los datos..."
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="col-md-6">
          <b-form-group id="input-group-2" label="Apellido Paterno" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="data.apPaterno"
              required
              placeholder="Ingrese los datos..."
            ></b-form-input>
          </b-form-group>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <b-form-group id="input-group-2" label="Apellido Materno" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="data.apMaterno"
              required
              placeholder="Ingrese los datos..."
            ></b-form-input>
          </b-form-group>
        </div>
        <div class="col-md-6">
          <b-form-group id="input-group-2" label="Dirección" label-for="input-2">
            <b-form-input
              id="input-2"
              v-model="data.direccion"
              required
              placeholder="Ingrese los datos..."
            ></b-form-input>
          </b-form-group>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <b-form-group id="input-group-3" label="Tipo De Documento" label-for="input-3">
            <b-form-select id="input-3" v-model="data.opcion" :options="foods" required></b-form-select>
          </b-form-group>
        </div>
        <div class="col-md-6"></div>
      </div>

      <b-button type="reset" variant="danger">Resetear Campos</b-button>
      <b-button type="submit" variant="primary" class="mx-3">Aceptar</b-button>
    </b-form>
  </div>
</template>

<script>
export default {
  name: "form-data",

  data() {
    return {
      data: {
        nombres: "",
        apPaterno: null,
        apMaterno: null,
        direccion: null,
        opcion: null,
      },

      foods: [
        { text: "Seleccione"},
        { text: "INE", value: 1 },
        { text: "Recb. Agua", value: 2 },
        { text: "CFE", value: 3 },
      ],
      show: true,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.$emit("data", this.data);
    },
    onReset(evt) {
      evt.preventDefault();
      // Reset our form values
      this.data.nombres = "";
      this.data.apPaterno = "";
      this.data.apMaterno = "";
      this.data.direccion = "";
      this.data.opcion = null;
    },
  },
};
</script>
