<template>
  <div>
    <b-form-file v-model="file" ref="file-input" class="mb-2 file-input" placeholder="Subir imagen"></b-form-file>

    <p class="mt-2">
      Archivo seleccionado:
      <b>{{ file ? file.name : '' }}</b>
    </p>

    <b-button @click="reset" class="mr-2" variant="danger" :disabled="!file">Quitar Imagen</b-button>
    <b-button @click="next" class="mr-2" variant="primary" :disabled="disable || !file">Continuar</b-button>
  </div>
</template>

<script>
import { toBase64 } from "../utils/base64TOimage";

export default {
  name: "upload-image",

  data() {
    return {
      file: null,
      disable: false,
    };
  },
  methods: {
    reset() {
      if (!this.file || (this.file && this.disable)) {
        this.disable = !this.disable;
        this.$emit("reset");
      }
      this.$refs["file-input"].reset();
    },
    async next(item) {
      let base64 = "";
      if (this.file) {
          base64 = await toBase64(this.file);
      }
      this.disable = true;
      this.$emit("imageTObase64", base64);
    },
  },
};
</script>

<style >
.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "imagen";
}
</style>
